*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
body{
	font-family: "宋体";
}
.box1{
	height: 40px;
	line-height: 40px;
	background: black;
}
.box1-con{
	width: 65%;
	margin: 0 auto;
	font-size: 13px;
}
.box1-con img{
	margin-right: 5px;
}
.a1{
	margin-left: 20px;
}
.box1-l{
	float: left;
	color: white;
}
.box1-r{
	float: right;
}
.box1-r a{
	color: white;
}
.box2{
	height: 100px;
	background: #2788f9;
}
.box2-con{
	width: 65%;
	height: 100px;
	line-height: 100px;
	margin: 0 auto;
}
.logo{
	float: left;
	width: 95px;
	margin-top: 26px;
	margin-right: 4.6%;
}
.nav{
	float: left;
	font-size: 0px;
}
.nav a{
	color: white;
	font-size: 16px;
	padding: 8px 12px 9px;
	border-radius: 6px;
	border: solid 1px transparent;
	margin: 0px 10px;
	transition: border 0.5s;
}
.nav a:first-child{
	color: #003580;
	background: white;
	border: solid 1px white;
}
.nav a:hover{
	background: white;
	border: solid 1px white;
	color: #003580;
}
.box2-r{
	float: right;
	width: 158px;
	height: 30px;
	line-height: 30px;
	border: solid 1px white;
	color: white;
	border-radius: 30px;
	margin-top: 34px;
	text-align: center;
}
.a5{
	float: right;
	margin-top: 34px;
	margin-right: 2%;
}
.box3{
	height: 710px;
	position: relative;
	background: url(../img/ia_100000037.webp) center top/cover;
	animation: mybox3 9s linear infinite;
}
@keyframes mybox3{
	0%{background: url(../img/ia_100000037.webp) center top/cover;}
	16.5%{background: url(../img/ia_100000037.webp) center top/cover;}
	33%{background: url(../img/ia_100000038.webp) center top/cover;}
	50%{background: url(../img/ia_100000038.webp) center top/cover;}
	66.5%{background: url(../img/ia_100000039.webp) center top/cover;}
	83%{background: url(../img/ia_100000039.webp) center top/cover;}
	100%{background: url(../img/ia_100000037.webp) center top/cover;}
}
.box3:before{
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(39,136,249,0.8);
}
.box3-con{
	width: 100%;
	color: white;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	left: 0px;
	text-align: center;
}
.box3-con h3{
	font-size: 72px;
}
.box4{
	height: 50px;
	overflow: hidden;
	line-height: 50px;
	background: #f7f7f7;
	border-bottom: solid 1px #ccc;
}
.box4 h3{
	float: left;
	margin-left: 12.5%;
	margin-right: 20px;
}
.text{
	float: left;
	position: relative;
	top: 0px;
	animation: mytext 4s linear infinite;
}
.text:hover{
	animation-play-state: paused;
}
@keyframes mytext{
	0%{top: 0px;}
	16.5%{top: 0px;}
	33%{top: -50px;}
	50%{top: -50px;}
	66.5%{top: -100px;}
	83%{top: -100px;}
	100%{top: -150px;}
}
.text a{
	display: block;
	text-decoration: none;
	
}
.box5{
	background: #f7f7f7;
	padding-bottom: 113px;
}
.box5-con{
	width: 75%;
	margin: 0 auto;
}
.section-hd{
	padding: 56px 0px 45px;
}
.section-hd h3{
	font-size:40px ;
	font-weight: 700;
	height: 44px;
	line-height: 44px;
	border-left: solid 6px rgb(39, 137, 249);
	color: rgb(39, 137, 249);
	padding-left: 17px;
}
.section-hd p{
	font-size: 22px;
	font-weight: 700;
	margin-top: 15px;
}
.box5-list{
	background: white;
	overflow: hidden;
	padding: 20px 0px;
}
.box5-list li{
	float: left;
	width: 22%;
	margin-left: 2.4%;
	text-align: center;
	color: #4c4c4c;
    font-size: 15px;
    background: #f4f4f4;
    margin-bottom: 29px;
}
.box5-list li:nth-child(n+9){
	margin-bottom: 0px;
}
.box5-list img{
	display: block;
	width: 100%;
}
.box5-list p{
	margin: 13px 0px;
}
.box6{
	position: relative;
	padding-bottom: 100px;
	background: url(../img/ia_100000040.webp) center top/100%;
}
.box6:before{
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(39,136,249,0.8);
}
.box6 .box5-con{
	position: relative;
	z-index: 10;
}
.box6 h3{
	color: white;
	border-left: solid 6px white;
}
.box6 .section-hd{
	color: white;
}
.box6-list{
	overflow: hidden;
}
.box6-list li{
	width: 18.8%;
	float: left;
	margin-left: 1%;
	background: white;
	margin-bottom: 20px;
	padding-bottom: 40px;
	padding-top: 5px;
}
.box6-list img{
	width: 96%;
	display: block;
	margin: 0 auto;
}
.box7{
	padding-bottom: 60px;
}
.box7-list{
	overflow: hidden;
	border-radius: 10px;
	transition: all 0.5s;
}
.box7-list li{
	width: 24%;
	float: left;
	margin: 0px 0.5% 24px;
	position: relative;
}
.box7-list:hover{
	background: #999999;
}
.box7-list img{
	display: block;
	width: 100%;
}
.box7-list p{
	position: absolute;
	width: 100%;
	left: 0px;
	top: 50%;
	margin-top: -11px;
	text-align: center;
	color: white;
	font-size: 20px;
	font-weight: 700;
}
.box8{
	background: #f7f7f7;
	padding: 90px 0px 80px;
}
.box8-hd{
	text-align: center;
}
.box8-hd h3{
	color: #2789F9;
	font-size: 36px;
}
.box8-hd p{
	color: rgb(68, 68, 68);
	font-size: 20px;
	font-weight: 700;
}
.box8-list{
	width: 70%;
	margin:  0 auto;
	overflow: hidden;
}
.box8-list li{
	width: 32%;
	margin-right: 2%;
	float: left;
	background: white;
	box-sizing: border-box;
	border: solid 1px #ccc;
}
.box8-list li:last-child{
	margin-right: 0;
}
.box8-list-hd{
	background: #2789f9;
	color: white;
	text-align: center;
	padding: 35px 0px 23px;
}
.box8-list li:nth-child(2){
	position: relative;
	top: -40px;
}
.box8-list li:nth-child(2) .box8-list-hd{
	padding: 55px 0px 43px;
}
.box8-list-hd h3{
	font-size: 40px;
	letter-spacing: 2px;
}
.box8-list-hd span{
	font-size: 22px;
}
.box8-list-hd p{
	font-size: 14px;
	margin-top: 10px;
}
.box8-list{
	padding-top: 70px;
}
.box8-list img{
	display: block;
	width: 100%;
}
.box8-list h2{
	text-align: center;
	font-size: 24px;
	color: rgb(105, 105, 105);
	margin: 45px 0px 30px;
}
.box8-list .p1{
	text-align: left;
	width: 80%;
	font-size: 13px;
	line-height: 26px;
	color: rgb(128, 128, 128);
	margin: 0px auto 25px;
}
.box8-list a{
	display: block;
	text-align: center;
	width: 50%;
	height: 37px;
	font-size: 16px;
	line-height: 37px;
	border: solid 1px #5472d2;
	color: #5472d2;
	margin: 38px auto ;
}
.box9{
	padding: 90px 0px 60px;
	background: white;
}
.box9-hd{
	width: 75%;
	margin: 0 auto;
	background: #3c94f9;
	color: white;
	font-weight: 900;
	text-align: center;
	padding: 20px 0px;
}
.box9-hd h3{
	font-size: 36px;
}
.box9-hd p{	
	margin-top: 10px;
	font-size: 20px;
}
.box9-list{
	width: 75%;
	margin: 70px auto 0px;
	overflow: hidden;
}
.box9-list li{
	float: left;
	width: 25%;
}
.box9-list h3{
	color: #333;
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 900;
	float: left;
}
.box9-list b{
	font-size: 34px;
}
.box9-list img{
	float: left;
	margin-top: 20px;
}
.box9-list-info{
	clear: both;
}
.icon1{
	width: 44px;
	height: 44px;
	background: #2789f9 url(../img/c1.png) no-repeat center center;
	border-radius: 100%;
	float: left;
	margin: 24px 0px;
}
.box9-list li:nth-child(2) .icon1{
	background: #2789f9 url(../img/c2.png) no-repeat center center;
}
.box9-list li:nth-child(3) .icon1{
	background: #2789f9 url(../img/c3.png) no-repeat center center;
}
.box9-list li:nth-child(4) .icon1{
	background: #2789f9 url(../img/c4.png) no-repeat center center;
}
.box9-line{
	border-top:solid 2px #2789f9;
	float: left;
	width: calc(100% - 44px);
	margin-top: 45px;
}
.box9-list h2{
	clear: both;
	color: #333;
	font-size: 20px;
}
.box9-list p{
	width: 90%;
	font-size: 14px;
	color: #333;
	line-height: 28px;
	margin-top: 15px;
}
.box10{
	background: #f2f2f2;
	padding: 80px 12.5% 60px;
	overflow: hidden;
}
.box10-l{
	float: left;
	width: 45%;
	margin-top: 40px;
}
.box10-l h3{
	color: #2789F9;
	font-size: 36px;
}
.box10-l p{
	color: #808080;;
	font-size: 14px;
	margin-top: 14px;
	line-height: 28px;
}
.box10-r{
	float: right;
	width: 50%;
}
.box10-r li{
	float: left;
	width: calc((100% - 6px) / 3);
	box-sizing: border-box;
	border: solid 1px #ccc;
	text-align: center;
	padding: 40px 0px;
}
.box10-r li:nth-child(2){
	padding: 60px 0px;
	background: white;
	position: relative;
	top: -20px;
}
.box10-r h3{
	font-size: 20px;
	color: #696969;
}
.arc{
	width: 132px;
	height: 67px;
	background: #2789f9;
	border-radius: 100px 100px 0px 0px;
	margin: 15px auto 5px;
	position: relative;
	font-size: 30px;
	line-height: 67px;
}
.arc:before{
	content: "";
	width: 124px;
	height: 64px;
	position: absolute;
	bottom: 0px;
	left: 4px;
	border-radius: 100px 100px 0px 0px;
	background: #f2f2f2;
}
.arc span{
	position: relative;
	z-index: 10;
}
.box10-r li:nth-child(2) .arc:before{
	background: white;
}
.box11{
	padding: 50px 19%;
	background: white;
	overflow: hidden;
}
.box11 li{
	float: left;
	width:31% ;
	text-align: center;
}
.box11 li:nth-child(2){
	margin: 0px 3.5%;
}
.box11 h3{
	color: #696969;
	font-size: 20px;
	margin: 15px 0px;
}
.box11 p{
	color: #808080;
	font-size: 14px;
	line-height: 28px;
	text-align: left;
}
.box12{
	padding: 110px 0px 65px;
	position: relative;
	background: url(../img/ia_100000041.webp) center top/cover;
	animation: mybox12 9s infinite;
}
@keyframes mybox12{
	0%{background: url(../img/ia_100000041.webp) center top/cover;}
	25%{background: url(../img/ia_100000041.webp) center top/cover;}
	50%{background: url(../img/ia_100000042.webp) center top/cover;}
	75%{background: url(../img/ia_100000042.webp) center top/cover;}
	100%{background: url(../img/ia_100000041.webp) center top/cover;}
}
.box12:before{
	content: "";
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgba(0,0,0,0.3);
}
.box12-con{
	color: white;
	text-align: center;
	width: 510px;
	margin: 0 auto;
	font-size: 0;
	position: relative;
	z-index: 10;
}
.box12-con h3{
	font-size: 28px;
}
.box12-con p{
	font-size: 20px;
	margin: 25px 0px;
}
.box12-con a{
	background: #2788f9;
	height: 46px;
	line-height: 46px;
	display: block;
	color: white;
	font-size: 16px;
	margin-bottom: 20px;
}
.box12-con input{
	margin-right: 10px;
	height: 40px;
	outline: medium;
	box-sizing: border-box;
	width: calc((100% - 20px) / 3);
	margin-bottom: 13px;
	text-indent: 6px;
}
.box12-con .v3{
	margin-right: 0px;
}
.box12-con .v4{
	clear: both;
	width: 100%;
}
.box12-con textarea{
	height: 80px;
	min-height: 80px;
	width: 100%;
	outline: medium;
	max-width: 100%;
	resize: none;
	box-sizing: border-box;
}
.box12-con .btn{
	background: #2788f9;
	width: 112px;
	height: 33px;
	border: none;
	outline: medium;
	color: white;
	margin: 23px 0px 0px;
}
.box13{
	text-align: center;
	padding: 30px 0px 10px;
	background: #2788f9;
	color: white;
	font-size: 12px;
}
.box13 p{
	margin-top: 20px;
}
.box14{
	width: 54px;
	position: fixed;
	right: 0px;
	top: 300px;
	z-index: 99;
}
.box14 li{
	height: 54px;
	background: #2788f9;
	overflow: hidden;
	cursor: pointer;
	transition: all 0.5s;
}
.box14 li:hover{
	background: blue;
}
.box14 i{
	width: 30px;
	height: 30px;
	display: block;
	margin: 12px;
	background: url(../img/ia_100000048.png) -40px 0px;
}
.box14 li:nth-child(2) i{
	background: url(../img/ia_100000048.png) -40px -40px;
}
.box14 li:nth-child(3) i{
	background: url(../img/ia_100000048.png) -40px -80px;
}
.box14 li:nth-child(4) i{
	background: url(../img/ia_100000048.png) -40px -304px;
}
.top-back{
	color: white;
	position: fixed;
	bottom: 50px;
	right: 15px;
	font-size: 30px;
	color: white;
	z-index: 99;
	font-family: "微软雅黑";
}
.obtn{
	width: 14px;
	background: #2788f9;
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 99;
	padding: 14px 16px;
	display: none;
}
.obtn p{
	border-top: solid 2px white;
	margin-bottom: 1px;
}
@media screen and (max-width:1366px ) {
	.box2-con {
	    width: 90%;
	}
	.logo {
	    float: left;
	    width: 95px;
	    margin-top: 26px;
	    margin-right: 2%;
	}
	.nav a {
	    padding: 6px 10px 7px;
	    margin: 0px 6px;
	}
}
@media screen and (max-width:1040px ) {
	.box1{
		display: none;
	}
	.nav,.box2-r,.a5{
		display: none;
	}
	.box2,.box2-con{
		height: 67px;
		overflow: hidden;
	}
	.logo {
		display: block;
	    float: none;
	    width: 86px;
	    margin: 12px auto;
	}
	.obtn{
		display: block;
	}
}
@media screen and (max-width: 768px) {
	.box3{
		height: 290px;
	}
	.box3-con h3 {
	    font-size: 30px;
	}
	.box3-con {
	    margin-top: -26px;
	}
	.box14{
		display: none;
	}
	.box4{
		height: 88px;
	}
	.box4 h3 {
	    float: none;
	    margin-left: 5%;
	    margin-right: 0px;
	    line-height: 40px;
	    font-size: 18px;
	}
	.text-box{
		height: 52px;
		width: 90%;
		margin: 0 auto;
		overflow: hidden;
	}
	.text {
	    float: none;
	}
	.text a{
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;
		white-space: nowrap;
		font-size: 13px;
	}
	.box5-con {
	    width: 90%;
	    margin: 0 auto;
	}
	.section-hd h3 {
	    font-size: 19px;
	    height: 20px;
	    line-height: 21px;
	    border-left: solid 3px rgb(39, 137, 249);
    	padding-left: 6px;
	}
	.section-hd p {
	    font-size: 14px;
	}
	.box5-list li {
	    width: 44%;
	    margin-left: 4%;
	    margin-bottom: 20px;
	}
	.section-hd {
	    padding: 40px 0px 35px;
	}
	.box5 {
	    padding-bottom: 25px;
	}
	.box6-list li {
	    width: 32%;
	    float: left;
	    margin-left: 0;
	    margin-right: 2%;
	    background: white;
	    margin-bottom: 20px;
	   	padding: 5px;
	   	box-sizing: border-box;
	}
	.box6-list li:nth-child(3n){
		margin-right: 0px;
	}
	.box6-list img {
	    width: 100%;
	    height: 100%;
	}
	.box6 {
	    padding-bottom: 20px;
	    background: url(../img/ia_100000040.webp) no-repeat left top/cover;
	}
	.box6 h3 {
	    border-left: solid 3px white;
	}
	.box7-list li {
	    width: 48%;
	    float: left;
	    margin: 0px 4% 20px 0px;
	    position: relative;
	}
	.box7-list li:nth-child(2n){
		margin: 0px 0% 20px 0px;
	}
	.box7-list:hover{
		background: white;
	}
	.box7 {
	    padding-bottom: 20px;
	}
	.box8-hd h3 {
		font-size: 900;
	    font-size: 19px;
	}
	.box8-list {
	    width: 90%;
	}
	.box8-list li {
	    width: 100%;
	    margin-right: 0%;
	    float: none;
	}
	.box8-list li:nth-child(2) {
	    position: relative;
	    top: 0px;
	}
	.box8-list {
	    padding-top: 0px;
	}
	.box8 {
	    padding: 30px 0px 30px;
	}
	.box9-hd {
    	width: 90%;
    }
    .box9 {
	    padding: 20px 0px 0px;
	}
    .box9-list {
	    width: 90%;
	    margin: 10px auto 0px;
	}
	.box9-list li {
	    float: none;
	    width: 100%;
	}
	.box9-line {
	    display: none;
	}
	.box9-list p {
	    margin-bottom: 25px;
	}
	.box10 {
	    background: #f2f2f2;
	    padding: 40px 5% 20px;
	    overflow: hidden;
	}
	.box10-l {
	    float: none;
	    width: 100%;
	    margin-top: 0px;
	}
	.box10-l h3 {
	    font-size: 18px;
	}
	.box10-l p {
	    color: #808080;
	    font-size: 12px;
	    line-height: 24px;
	}
	.box10-r {
	    float: none;
	    width: 100%;
	}
	.box10-r li {
	    float: none;
	    width:100%;
	    box-sizing: border-box;
	    border: solid 1px #ccc;
	    text-align: center;
	    padding: 5px 0px;
	}
	.box10-r li:nth-child(2) {
	    padding: 5px 0px;
	    background: white;
	    position: relative;
	    top: 0px;
	}
	.arc:before {
	    bottom: -1px;
	}
	.box11 {
	    padding: 50px 5%;
	}
	.box11 li {
	    float: none;
	    width: 100%;
	}
	.box11 li:nth-child(2) {
	    margin: 0px ;
	}
	.box12-con h3 {
	    font-size: 20px;
	}
	.box12-con {
	    width: 90%;
	}
	.box12-con p {
	    font-weight: 900;
	    margin: 20px 0px;
	}
	.box12-con input {
	    margin-right: 0px;
	    width: 100%;
	    border-radius: 6px;
	}
	.box12-con .btn {
	    border-radius: 0px;
	}
	.box13 p {
	    line-height: 30px;
	    width: 90%;
	    margin: 15px auto 0px;
	}
}